$colors: (
  "primary": #4788E9,
  "secondary": #C9C9DA,
  "danger": #e74c3c,
  "light": #e5e5e5,
  "dark": #191847,
  "white": #ffffff,
  "black": #000000,
  "success": #00D98B,
);

$font-primary: "Poppins", sans-serif;

$font-sizes: (
  "xxs": 8px,
  "xs": 12px,
  "sm": 14px,
  "md": 16px,
  "lg": 20px,
  "xl": 24px,
  "xxl": 32px,
  "xxxl": 48px,
);

$line-heights: (
  "none": 1,
  "short": 1.2,
  "normal": 1.5,
  "tall": 2,
);

$font-weight: (
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

$breakpoints: (
  "mobile": 768px,
  "tablet": 1200px,
  "desktop": max,
);

$sizes: (
  "none": 0,
  "xxs": 4px,
  "xs": 8px,
  "sm": 16px,
  "md": 24px,
  "lg": 32px,
  "xl": 48px,
  "xxl": 64px,
  "xxxl": 96px,
  "full": 100%,
  "9999": 9999px,
  "screen": 100vh,
  "auto": auto,
  "1-2": 50%,
  "1-3": 33.3333%,
  "2-3": 66.6666%,
  "3-4": 75%,
  "1-4": 25%,
  "max": max-content,
  "min": min-content,
  "fit": fit-content,
);


