html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #191847;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #4788E9;
  margin-bottom: 24px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  margin-bottom: 24px;
}

a {
  color: #4788E9;
  text-decoration: none;
}
a:hover {
  color: #6ca0ed;
}

body {
  height: 100vh;
  width: 100%;
  background: #e5e5e5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 16px 24px;
  transition: all 0.3s ease;
  border-radius: 4px;
}
.btn.-outlined {
  border: 1px solid;
  background-color: transparent;
}
.btn.-outlined.primary {
  color: #4788E9;
  border-color: #4788E9;
}
.btn.-outlined.primary:hover {
  background-color: #a2c3f4;
}
.btn.-outlined.secondary {
  color: #C9C9DA;
  border-color: #C9C9DA;
}
.btn.-outlined.secondary:hover {
  background-color: white;
}
.btn.-outlined.danger {
  color: #e74c3c;
  border-color: #e74c3c;
}
.btn.-outlined.danger:hover {
  background-color: #f29f97;
}
.btn.-outlined.light {
  color: #e5e5e5;
  border-color: #e5e5e5;
}
.btn.-outlined.light:hover {
  background-color: white;
}
.btn.-outlined.dark {
  color: #191847;
  border-color: #191847;
}
.btn.-outlined.dark:hover {
  background-color: #343293;
}
.btn.-outlined.white {
  color: #ffffff;
  border-color: #ffffff;
}
.btn.-outlined.white:hover {
  background-color: white;
}
.btn.-outlined.black {
  color: #000000;
  border-color: #000000;
}
.btn.-outlined.black:hover {
  background-color: #333333;
}
.btn.-outlined.success {
  color: #00D98B;
  border-color: #00D98B;
}
.btn.-outlined.success:hover {
  background-color: #40ffba;
}
.btn.-contained {
  border: none;
}
.btn.-contained.primary {
  background-color: #4788E9;
  color: #ffffff;
}
.btn.-contained.primary:hover {
  background-color: #1b6be2;
}
.btn.-contained.secondary {
  background-color: #C9C9DA;
  color: #ffffff;
}
.btn.-contained.secondary:hover {
  background-color: #ababc5;
}
.btn.-contained.danger {
  background-color: #e74c3c;
  color: #ffffff;
}
.btn.-contained.danger:hover {
  background-color: #d62c1a;
}
.btn.-contained.light {
  background-color: #e5e5e5;
  color: #191847;
}
.btn.-contained.light:hover {
  background-color: #cccccc;
}
.btn.-contained.dark {
  background-color: #191847;
  color: #ffffff;
}
.btn.-contained.dark:hover {
  background-color: #0c0b21;
}
.btn.-contained.white {
  background-color: #ffffff;
  color: #191847;
}
.btn.-contained.white:hover {
  background-color: #e6e6e6;
}
.btn.-contained.black {
  background-color: #000000;
  color: #ffffff;
}
.btn.-contained.black:hover {
  background-color: black;
}
.btn.-contained.success {
  background-color: #00D98B;
  color: #ffffff;
}
.btn.-contained.success:hover {
  background-color: #00a66a;
}

.text {
  font-family: "Poppins", sans-serif;
  color: #4788E9;
  font-size: 16px;
  font-weight: 400;
}
.text.-secondary {
  color: #C9C9DA;
}
.text.-danger {
  color: #e74c3c;
}
.text.-light {
  color: #e5e5e5;
}
.text.-dark {
  color: #191847;
}
.text.-xxs {
  font-size: 8px;
}
.text.-xs {
  font-size: 12px;
}
.text.-sm {
  font-size: 14px;
}
.text.-lg {
  font-size: 20px;
}
.text.-xl {
  font-size: 24px;
}
.text.-xxl {
  font-size: 32px;
}
.text.-xxxl {
  font-size: 48px;
}
.text.-light-weight {
  font-weight: 300;
}
.text.-medium-weight {
  font-weight: 500;
}
.text.-bold {
  font-weight: 700;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  width: 50%;
  gap: 24px;
  background: #ffffff;
  border-radius: 24px;
  padding: 48px;
}/*# sourceMappingURL=main.css.map */