.btn {
  @include width("full");
  @include flex(row, nowrap, center, center);
  @include gap("xs");
  @include shape("sm");
  @include p("all", "sm");
  font-size: map-get($font-sizes, "sm");
  font-weight: map-get($font-weight, "bold");
  font-family: $font-primary;
  cursor: pointer;

  @include breakpoint("mobile") {
    font-size: map-get($font-sizes, "xs");
    @include p("all", "xs");
  }

  &.-outlined {
    border: 1px solid;
    background-color: transparent;

    @each $color, $value in $colors {
      &.-#{$color} {
        color: $value;
        border-color: $value;

        &:hover {
          background-color: lighten($value, 20%);
        }
      }
    }
  }

  &.-contained {
    border: none;

    @each $color, $value in $colors {
      &.-#{$color} {
        background-color: $value;
        box-shadow: 0 map-get($sizes, "xs") 0 0 darken($value, 20%);
        color: if(
          $color == "light" or $color == "white",
          map-get($colors, "dark"),
          map-get($colors, "white")
        );

        &:hover {
          background-color: darken($value, 10%);
        }
      }
    }
  }
}
