@mixin p($direction, $index) {
    @if $direction == 't' {
        padding-top: map-get($sizes, $index);
    } @else if $direction == 'b' {
        padding-bottom: map-get($sizes, $index);
    } @else if $direction == 'r' {
        padding-right: map-get($sizes, $index);
    } @else if $direction == 'l' {
        padding-left: map-get($sizes, $index);
    } @else if $direction == 'x' {
        padding-left: map-get($sizes, $index);
        padding-right: map-get($sizes, $index);
    } @else if $direction == 'y' {
        padding-top: map-get($sizes, $index);
        padding-bottom: map-get($sizes, $index);
    } @else {
        padding: map-get($sizes, $index);
    }
}

@mixin m($direction, $index) {
    @if $direction == 't' {
        margin-top: map-get($sizes, $index);
    } @else if $direction == 'b' {
        margin-bottom: map-get($sizes, $index);
    } @else if $direction == 'r' {
        margin-right: map-get($sizes, $index);
    } @else if $direction == 'l' {
        margin-left: map-get($sizes, $index);
    } @else if $direction == 'x' {
        margin-left: map-get($sizes, $index);
        margin-right: map-get($sizes, $index);
    } @else if $direction == 'y' {
        margin-top: map-get($sizes, $index);
        margin-bottom: map-get($sizes, $index);
    } @else {
        margin: map-get($sizes, $index);
    }
}

@mixin gap($index) {
    gap: map-get($sizes, $index);
}